.course {
  width: 28%;
  margin: 2rem 1.4rem 2rem 0;
  border: 1px solid #999;
  padding-bottom: 4rem;
  position: relative;
}

.img__container {
  background-color: #000;
}

.course__img {
  width: 100%;
  opacity: 0.5;
  display: block;
}

.course__title {
  font-size: 1.1rem;
  margin: 1rem 0 0.5rem 0;
}

.m-left {
  margin-left: 1rem;
}

.course__author {
  display: block;
  font-size: 0.8rem;
}

.course__price {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
}

.price__number {
  font-size: 1.5rem;
  font-weight: 400;
  margin-right: 0.2rem;
}

.course__status {
  font-size: 1rem;
  color: #000;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.4rem 0.7rem;
}

.course__link {
  color: #000;
  text-decoration: none;
}

.add {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  cursor: pointer;
}

.bold{
    font-weight: bold;
}