.header_nav{
    width: 80%;
    margin: 2rem auto;
    display: flex;
}
.header_list{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.header_item{
    margin: 0 1.2rem;
}
.header_link{
    text-decoration: none;
    color: #000;
}
